* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

i.fa {
    color: #7f8;
}

a {
    color: #7f8;
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container a {
    position: relative;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 5px solid #7f8;
    margin-bottom: 20px;
    border-radius: 10px;
    filter: hue-rotate(calc(var(--i) * 90deg));
}

.container a::before,
.container a::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 5px;
    background-color: rgb(63, 63, 63);
    transform: skew(50deg);
    transition: all 0.5s;
}

.container a::before {
    top: -5px;
    left: 10%;
}

.container a::after {
    bottom: -5.5px;
    right: 10%;
}

.container a:hover::before {
    left: 80%;
}

.container a:hover::after {
    right: 80%;
}
