* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    justify-items: center;
    font-family: sans-serif;
}

img {
    -webkit-user-drag: none;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.144);
    backdrop-filter: blur(5px);
    color: rgb(255, 127, 80);
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

a:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}

a span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255, 201, 192, 0.5), rgb(255, 61, 27));
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate1 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

a span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgb(255, 201, 192, 0.5), rgb(255, 61, 27));
    animation: animate2 2s linear infinite;
}

@keyframes animate2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background: linear-gradient(to left, rgb(255, 201, 192, 0.5), rgb(255, 61, 27));
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

a span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, rgb(255, 201, 192, 0.5), rgb(255, 61, 27));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

#title {
    margin-top: 100px;
    height: 120px;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.336);
    backdrop-filter: blur(5px);
    color: rgb(47, 53, 66);
    text-align: center;
    transition: 0.5s;
}

@media screen and (max-width: 556px) {
    #title {
        width: 90%;
    }
}

#footer {
    text-align: center;
    color: aliceblue;
}